.content {
    display: flex;
    flex-direction: column;
    // 280px = The height of the header.
    // 30px = The vertical padding of element.
    height: calc(100% - (280px + 30px));
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}
