.header {
    display: flex;
    flex-direction: column;
}

.header-description-container,
.header-logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.header-description-container {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    height: 120px;

    & > h2 {
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    & > p {
        margin: 0;
    }
}

.header-logo-container {
    height: 70px;

    & > img {
        width: 150px;
    }
}
