html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* App related variables */
  --primary-color: #1d354d;
  --text-color: #212529;
  --text-color-inverse: #fff;
}

body > div {
  color: var(--text-color);
  height: inherit;
}
